/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
  background-position: fixed center;
  margin-bottom:2px;
  font-size: 14px;
}

.header
{
  width:500px;
  margin-bottom:2px;
}

.header h1
{
  font-family: 'OstrichSansRoundedMedium', Impact, Helvetica, Arial, sans-serif;
  line-height: 80%;
  letter-spacing: -1;
  text-transform:uppercase;
  font-size: 90px;
  font-weight: normal;
}

.post h1
{
  font-family: 'BebasNeueRegular', Impact, Helvetica, Arial, sans-serif;
  letter-spacing: -1;
  text-transform:uppercase;
  font-size: 37px;
  font-weight: normal;
}

.post h2
{
  font-family: 'BebasNeueRegular', Impact, Helvetica, Arial, sans-serif;
  letter-spacing: -1;
  text-transform:uppercase;
  font-size: 37px;
  font-weight: normal;
}

h2
{
  font: 28px 'BebasNeueRegular', Impact, Helvetica, Arial, sans-serif;
  margin-bottom:2px;
}

h3
{
  font: 24px 'BebasNeueRegular', Impact, Helvetica, Arial, sans-serif;
  margin-bottom:3px;
}

h4
{
  font: 16px 'BebasNeueRegular', Impact, Helvetica, Arial, sans-serif;
  margin-bottom:3px;
  letter-spacing: 1.3px;
  font-weight:normal;
}

blockquote
{
  margin: 1em 0 1em 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #CACACA;
}

h1 a, h2 a, h3 a, h4 a
{
  text-decoration: none;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  -webkit-transition: .1s ease-in-out;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover
{
  background: none;
}

h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus
{
  outline: thin dotted;
}

h1 a:active, h2 a:active, h3 a:active, h4 a:active
{
  outline: 0;
}

p a, ul a , li a
{
  text-decoration: none;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  -webkit-transition: .1s ease-in-out;
}

p a:focus, ul a:focus, li a:focus
{
  outline: thin dotted;
}

p a:active, ul a:active, li a:active
{
  outline: 0;
}

.source a:link
{
  text-decoration: none;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  -webkit-transition: .1s ease-in-out;
}

.source a:active
{
  outline: 0;
}

#nav
{
  text-transform: none;
}

#description
{
  width:500px;
  padding-bottom:2%;
}

#posts
{
  width: 500px;
  text-align:left;
}

.chat ul
{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.chat .label
{
  font-weight: bold;
  line-height:25px;
}

.notes2 p
{
  font-size:12px;
  margin-top:14px;
  padding-bottom:-5px;
  margin-bottom:5px;
}

.notes3 p
{
  font-size:12px;
  margin-top:-15px;
  padding-bottom:20px;
}


.notes-ask p
{
  font-size:12px;
  margin-top:-25px;
  padding-top:-20px;
  padding-bottom:20px;
}

nav
{
  width:85%;
}

nav#util ul
{
  margin-left: 0px;
  margin-right:0px;
  padding-top:0;
  padding-bottom:0px;
  padding-left: 0px;
  padding-right: 0px;
}

nav#util ul li
{
  z-index: 1;
  text-align: center;
  display: inline;
  list-style: none;
}

nav#util ul li a
{
  text-decoration:none;
  display: inline-block;
  font-family: 'BebasNeueRegular', "Arial Narrow", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 2px 10px;
  border-right: 1px solid #f0f0f0;
}

nav#util ul li:last-child a
{
  border-right: none;
}

blockquote img
{
  max-width:100%;
}

.answer
{
  width: 500px;
  padding-right: 40px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.answer-question .body
{
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  opacity: 0.9;
  padding: 10px 16px;
  width: 388px;
  float: left;
  line-height: 1.2;
  margin-bottom: 10px;
}

.answer-asker
{
  float: right;
  width: 80px;
}

.answer-point
{
  width: .7em;
  float: left;
  padding-top: 10px;
}

.answer-point-top,
.answer-point-bottom
{
  width: 0;
  height: 0;
}

.answer-point-top
{
  opacity: 0.9;
  border-bottom: 8px solid black;
  border-right: 8px solid black;
}

.answer-point-bottom
{
  opacity: 0.9;
  border-left: 8px solid black;
  border-bottom: 8px solid black;
}

.answer-asker .answer-asker-avatar
{
  float: left;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  width: 64px;
  height: 64px;
  display: block;
  text-indent: -100px;
  font-size: 0px;
  background-repeat: no-repeat;
  background-position: top left;
  margin-bottom: 40%;
  z-index:-1000;
}

.answer-asker .answer-asker-avatar a
{
  display: block;
  text-indent: -9000px;
  width: 64px;
  height: 64px;
}

.answer-answer
{
  margin-top: 22px;
  width: 388px;
}

.answer-answer .body
{
  padding-top: 22px;
  margin-left: 10px;padding-bottom:10px;
}

.conversation tr:first-child td, .conversation tr:first-child th
{
  border-top: 0;
}

.conversation table
{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: .98;
  width: 500px;
  margin: 0 auto;
}

.conversation th
{
  padding: 9px 0 9px 11px;
  border-top: 1px solid #696969;
  text-align: right;
  text-transform: Capitalized;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
}

.conversation td
{
  padding: 9px;
  border-top: 1px solid #696969;
  font-size: 13px;
  line-height: 1;
}

.post ol.notes li.note
{
  border-bottom: solid 1px #f0f0f0;
  padding: 6px 0;
  margin: 0 !important;
  font-size: 12px;
}

.post ol.notes li.note blockquote
{
  border-color: #f0f0f0;
  padding: 4px 10px;
  margin: 10px 0px 0px 25px;
  font-size: 12px;
}

.short
{
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  float: left;
  width: 500px;
  background: none;
  position: relative;
}

.logo2
{
  padding-bottom:50px;
}

#footer
{
  text-align:center;
  width:500px;
}

#tweets
{
  width:500px;
  text-align:center;
  margin-top:0px;
}

#tweets ul
{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -25px;
  width:500px;
}

#tweets li
{
  text-indent:22px;
  list-style-type:none;
  width:540px;
}

.post ol.notes
{
  padding: 0;
  list-style-type: none;
}

.post ol.notes li.note img.avatar
{
  vertical-align: -4px;
  margin-right: 10px;
  width: 16px;height: 16px;
}

.post ol.notes li.note .answer_content
{
  font-weight: normal;
}

.post ol.notes li.note blockquote a
{
  text-decoration: none;
}
.pagination
{
  width:500px;
  align:center;
}

.readmore a
{
  float: left;
  display: inline;
  list-style: none;
  padding: 1px 11px;
  font-family: 'BebasNeueRegular', "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right:2px;
  text-decoration: none;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  -webkit-transition: .1s ease-in-out;
}

.readmore a:hover
{
  padding-right: 18px;
  padding-left: 18px;
}

.previous a
{
  float: center;
  display: inline;
  list-style: none;
  padding: 1px 11px;
  font-family: 'BebasNeueRegular', "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right:2px;
  text-decoration: none;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  -webkit-transition: .1s ease-in-out;
  font-size:14px;
}

.previous a:hover
{
  padding-right: 18px;
  padding-left: 18px;
}

.next a
{
  float: center;
  display: inline;
  list-style: none;
  padding: 1px 11px;
  font-family: 'BebasNeueRegular', "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right:2px;
  text-decoration: none;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  -webkit-transition: .1s ease-in-out;
}

.next a:hover
{
  padding-right: 18px;
  padding-left: 18px;
}

.tumblr_video_container
{
  padding-bottom:4px;
}

#tema
{
  width: 96px;
  height:20px;
  position: absolute;
  top:28px;
  right:3px;
}

ul.post-meta
{
  list-style-type: none;
  margin: 0;
  margin-top: -15;
  padding: 6px 0px 40px 00px;
  text-transform: lowercase;
}

ul.post-meta li:before {
  display: block;
  float: left;
  margin: 3px 0 0 0;
  height: 12px;
  width: 12px;
  content: "\00a0";
}

ul.post-meta li a {
  font-weight: normal;
  text-decoration: none;
  font-size:12px;
  padding: 0 6px 2px 6px;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
}

ul.post-meta li a:hover {
  padding: 0 6px 0px 6px;
}

ul.post-meta li.timeago {
  float: left;
}

ul.post-meta li.timeago:before {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 63px 12px;
}
ul.post-meta li.notes {
  float: right;
  margin-right: 0px;
}
ul.post-meta li.notes:before {
  background-size: 63px 12px;
  background-position: -12px 0;
  background-repeat: no-repeat;
}

ul.post-meta li.heart {
  float: right;
  margin-right: 25px;
  z-index:-1;
}

.likey {
  height: 20px;
  width: 10px;
  position: relative;
  top: -14px;
  left: 10px;
  right:0px;
  z-index: 5;
}

ul.post-meta li.repost {
  float: right;
  margin-right: 40px;
  padding: 0px;
  height: 0px;
}

ul.post-meta li.repost a:hover {
  background: none;
  padding: none;
  height: 0px;
  width: 0px;
}
.reblogy {
  padding: 0px;
  height: 0px;
  width: 0px;
  position: relative;
  top: -13px;
  left: -6px;
  right:0px;
  z-index: 5;
}

ul.post-meta li.comments {
  float: right;
  margin-right: 10px;
}
ul.post-meta li.comments:before {
  background-position: -24px 0;
  background-repeat: no-repeat;
  background-size: 63px 12px;
}

span.anote
{
  margin-top: 4px;
}


.notes-ask2
{
  margin-top:-25px;
  width:500px;
}

.fuge
{
  position: absolute;
  top:26px;
  right:0px;
  white-space: nowrap;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  font: 600 12px/18px "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
  height: 20px;
  padding: 0 5px;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: padding;
  -moz-transition-property: padding;
  -ms-transition-property: padding;
  -o-transition-property: padding;
  transition-property: padding;
  -webkit-transition-duration: .1s;
  -moz-transition-duration: .1s;
  -ms-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.18);
  background: rgba(0, 0, 0, 0.38);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 0 3px 0 0;
  padding-left: 20px;
}

.fuge a
{
  float: left;
  display: block;
  color: #1C1C1C;
  cursor: pointer;
  text-decoration: none;
}

.fuge::before
{
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20px;
  border-radius: inherit;
  background: url("http://static.tumblr.com/exbflx8/YOimhcxma/iframe_sprite.png") 0 0 no-repeat;
}

.fuge::before
{
  background-position: 0 0;
}

.btn::after
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: inherit;
}

.fuge:hover::after, .btn:focus::after
{
  background:rgba(255,255,255,0.09)
}

