.post {
    padding: 2em 1em 0.5em;
    position: relative;

    .post-body {
        width: 70%;
        margin: auto;
    }

    img {
        display: block;
        margin: auto;

        &.bucket {
            width: 5%;
            margin: 0 1em 1em;
            position: absolute;
        }

        &.avatar {
            width: auto;
            display: inline-block;
            margin: inherit;
        }
    }
}

.post-meta {
    margin: .5em;

    > div {
        margin: 0.5em 0 0 0;
    }
}

.date-posted {
  text-align: left;
}

.clearfix {
    clear: both;
}

.note {
    list-style: none;
}

.note .action {
    margin-left: .3em;
}

.reblogged {
}

.author {
    display: inline-block;
}

.meta-buttons {
    float: right;
    margin-top: 0;
}

.note-count {
    width: 150px;
    display: inline-block;
}

.tags {
    list-style: none;
    text-indent: none;
    display: inline;

    .tag {
        display: inline-block;
        margin-right: 1.2em;
        a {
            display: inline;
            color: $color-secondary;
            &:hover {
                color: lighten($color-secondary, 25%);
            }
        }
    }
}

.caption {
	margin-top: 20px;
}

.like_button {
  margin-top: 4px
}

.reblog_button {
  margin-left: 8px;
}

.mdl-js-button {
  background: rgba(255,255,255,0.2);
}

.mdl-js-button:hover {
  background: rgba(255,255,255,0.5);
}
.mdl-js-button:active {
  background: rgba(255,255,255,0.8);
}

.meta-reblog {
  float: left;
}
