.answer__block {
  width: 80%;
  background: #cccccc;
  border: 1px solid #212121;
  margin: 10px;
  padding: 10px;
  text-align: left;

  p {
    font-size: 12pt;
  }

  .answer__avatar {
    width: auto;
    float: right;
    margin: 10px;
  }

  .answer__person {
    color: #717171;
    font-size: 14pt;

    a {
      color: #717171;
      text-decoration: none;
    }
  }

  .answer__body {
    font-size: 12pt;
  }
}
