.like_button iframe {
  display: inline-block;
}

.reblog_button {
  display: inline-block !important; /* We need important here becuase tumblr puts styles on the element? wtf. */
}

.mdl-js-button {
  background: rgba(255,255,255,0.2);
}

.mdl-js-button:hover {
  background: rgba(255,255,255,0.5);
}
.mdl-js-button:active {
  background: rgba(255,255,255,0.8);
}

.meta-reblog {
  float: left;
}
