.quote .body:before,
.quote .body:after {
    content: "\"";
}

.quote {
    .body {
        font-size: 2em;
        padding: 0;
        margin-left: 1em;
        font-family: serif;
    }

    .source {
        text-align: right;
        width: 80%;
        font-size: 14pt;
        margin-right: 4em;
        margin-top: 1em;
    }
}

