require.config({
	"paths": {
		"jquery": "theme/libs/bower_components/jquery/dist/jquery",
		"foundation": "theme/libs/bower_components/foundation/js/foundation",
		"foundation.magellan": "theme/libs/bower_components/foundation/js/foundation/foundation.magellan",
		"tumblrPhotoset": "theme/libs/tumblr-photoset/tumblr-photoset",
		"albumPhotoset": "theme/libs/tumblr-photoset/tumblr-photoset.album-photoset"
	},
	"waitSeconds": 15
});