p {
    margin-top: 1.25rem;
    margin-bottom: 0;
}

.post {
    border-bottom: 1px solid #888;
    padding: 2em 1em;
    position: relative;

    .post-body {
        width: 70%;
        margin: auto;
    }

    img {
        display: block;
        margin: auto;

        &.bucket {
            width: 64px;
            margin: 1em;
        }

        &.avatar {
            width: auto;
            display: inline-block;
            margin: inherit;
        }
    }
}

.post-meta {
    border-top: 1px solid #aaa;
    margin-top: 1em;
    padding-top: 1em;

    > div {
        margin: 0.5em 0;
    }
}

.date-posted {
    float: left;
}

.clearfix {
    clear: both;
}

.note {
    list-style: none;
}

.note .action {
    margin-left: .3em;
}

.note-count {
    width: 100px;
}

.reblogged {
}

.author {
    display: inline-block;
}

.meta-buttons {
    float: right;
    width: 150px;
}

.note-count {
    display: inline-block;
}

.reblog-button {
    display: inline-block;
}

.like-button {
    display: inline-block;
}

.tags {
    list-style: none;
    text-indent: none;
    .tag {
        display: inline-block;
        margin-right: 1.2em;
        a {
            display: inline;
            color: $secondary-color;
            &:hover {
                color: lighten($secondary-color, 25%);
            }
        }
    }
}
