.pagination {
  margin: auto;
}

.mdl-card {
  margin: auto;
  width: 80%;
}

.mdl-card__supporting-text {
  margin: auto;
  text-align: center;

  .caption {
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin-top: 20px;
    padding-top: 20px;
  }

  p {
    min-width: 300px;
    text-align: left;
  }
}

.profile-picture {
  position: relative;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  display: block;
}

.posts {
  .profile-picture {
    margin: 0 1em 1em;
    position: absolute;
    width: 5%;
  }
}

.header img {
  display: block;
  margin: auto;
  width: 100%;
}

@media (max-width: $grid-tablet-breakpoint) {
  .posts {
    img {
      height: auto;
    }

    .bucket {
      display: none;
    }

    .mdl-card {
      width: 100%;
    }

    .mdl-card__supporting-text {
      padding: 0;
      width: 100%;
    }
  }
}

.no-search-results {
  font-size: 1.5em;
}
