.pagination {
  margin: auto;
}

.mdl-card {
  margin: auto;
  width: 80%;

  .mdl-card__supporting-text {
    margin: auto;
    text-align: center;

    .caption {
      border-top: 1px solid rgba(0, 0, 0, .1);
    }

    p {
      min-width: 300px;
      text-align: left;
    }
  }
}

.header img {
  display: block;
  margin: auto;
  width: 100%;
}

@media (max-width: $grid-tablet-breakpoint) {
  .posts {
    .bucket {
      display: none;
    }

    .mdl-card {
      width: 100%;
    }

    .mdl-card__supporting-text {
      padding: 0;
      width: 100%;
    }
  }
}
