a, a:active, a:visited {
    color: $body-font-color;
}

a:hover {
    color: lighten($body-font-color, .25);
}

small {
    font-size: inherit;
}

p {
    margin-top: 1.25rem;
    margin-bottom: 0;
}

