a, a:active, a:visited {
    color: $text-link-color;
    text-decoration: none;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: $text-link-color;
}

a:hover {
    color: lighten($text-link-color, .25);
}

small {
    font-size: inherit;
}

p {
    margin-top: 1.25rem;
    margin-bottom: 0;
}

