body {
  background-image: url('http://static.tumblr.com/3be5f01d65a1abac955e2a4058e3fbca/rh4dbbq/nfsnrbqal/tumblr_static_alqbg7sgt48oo0sokowgc0k4w.jpg');
}

.clearfix {
  clear: both;
}

a, a:active, a:visited {
    color: $text-link-color;
    text-decoration: none;
    font-size: $custom-font-size-base;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: $text-link-color;
}

a:hover {
    color: lighten($text-link-color, .25);
}

small {
    font-size: inherit;
}

p {
  margin-top: 1.25rem;
  margin-bottom: 0;
  font-size: $custom-font-size-base;
}

blockquote:before,
blockquote:after {
  content: none;
}

