
.waterfall-demo-header-nav .mdl-navigation__link:last-of-type
{
  padding-right: 0;
}

body {
  background-image: url('http://static.tumblr.com/3be5f01d65a1abac955e2a4058e3fbca/rh4dbbq/nfsnrbqal/tumblr_static_alqbg7sgt48oo0sokowgc0k4w.jpg');
}

.pagination,
.posts .mdl-card
{
  margin: auto;
}

.mdl-layout__drawer-button {
  position: fixed;
}

.blog-avatar {
  display: block;
  margin: 2em auto 1em;
}

.header img {
  display: block;
  margin: auto;
  width: 100%;
}

.tagcloud {
  margin: auto;
}

.description {
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
}

.description p:first-child {
  margin-top: 0;
}
