
// full-width rows
$row-width: initial;

// ====================== TOP BAR ===================
// Background color for the top bar
$topbar-bg-color: rgba(255,255,255,0.8);

// Style the top bar dropdown elements
$topbar-dropdown-bg: none;
$topbar-dropdown-link-color: inherit;
$topbar-dropdown-link-bg: none;
$topbar-dropdown-toggle-color: $topbar-bg-color;
$topbar-dropdown-toggle-alpha: 0.4;

// Set the link colors and styles for top-level nav
$topbar-link-color: inherit;
$topbar-link-color-hover: inherit;
$topbar-link-color-active: inherit;
$topbar-link-color-active-hover: inherit;

$topbar-dropdown-label-color: #777;
$topbar-dropdown-label-bg: none;

// Top menu icon styles
$topbar-menu-link-color: inherit;
$topbar-menu-icon-color: inherit;
$topbar-menu-link-color-toggled: inherit;
$topbar-menu-icon-color-toggled: inherit;

